@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* general styles */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.btn {
  border: 0;
}

/* header banner */
.new-year-banner {
  background-image: linear-gradient(#070211, #2701013e),
    url("./resources/banner-image.png");
  height: 600px;
  margin-top: 30px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
}

.new-year-banner h4 {
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
}

.new-year-banner h1 {
  font-size: 72px;
  text-align: center;
}

/* offer */

.offer {
  margin-top: 150px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.offer h2 {
  color: #ff0000;
  font-size: 88px;
  font-weight: 700px;
  margin: 30px 0;
}
.offer h3 {
  color: #ff0000;
  margin: 15px 0;
  font-size: 24px;
  font-weight: 400;
}
.offer h4 {
  color: #070211;
  margin-bottom: 50px;
  font-size: 48px;
}

/* midnight-party */
.mid-night-party {
  color: #fff;
  margin-top: 100px;
  height: 600px;
  background-image: linear-gradient(#070211, #2701013e),
    url("./resources/vectorrr.png");
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.mid-night-party-1 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.mid-night-party-1 h1 {
  font-size: 64px;
  font-weight: 600;
}

.mid-night-party-1 p {
  font-size: 18px;
  color: #fff;
  margin: 50px 0;
  font-weight: 300;
}

.mid-night-party-1 button {
  background: transparent;
  padding: 5px;
  font-size: 18px;
  border: 0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.mid-night-party-2 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid-night-party-2 img {
  height: 400px;
}
/* party-time */
.party-time {
  margin-top: 100px;
  border-radius: 10px;
  background: linear-gradient(#ff000024, #ff000000);
  height: 482px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.party-time span {
  color: #ff0000;
}

.party-time button {
  margin-top: 40px;
  border-radius: 10px;
  padding: 15px 25px;
  color: #fff;
  background-color: #ff0000;
  font-size: 20px;
  font-weight: 600;
}

/* comming soon */
.comming-soon {
  display: flex;
  align-items: center;
  gap: 50px;
}

.comming-soon-d-1 {
  width: 30%;
}

.comming-soon-d-1 h1 {
  color: #ff0000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.comming-soon-d-1 h2 {
  color: #000;
  font-size: 48px;
  padding: 15px 0;
}

.comming-soon-d-1 p {
  color: #0702118e;
  font-size: 20px;
  text-align: justify;
  font-family: "Inter", sans-serif;
}

.comming-soon-d-2 {
  width: 30%;
  border-radius: 100%;
  border: 10px solid red;
  margin: 0 auto;
}

.comming-soon-d-2 img {
  width: 100%;
  padding: 20px;
}

.comming-soon-d-3 {
  width: 30%;
}

.comming-soon-d-3 h1 {
  color: #ff0000;
  font-family: "Inter", sans-serif;
  font-size: 48px;
}

.comming-soon-d-3 p {
  color: #0702118e;
  padding: 10px 0 40px 0;
  font-size: 20px;
}

/* holyday */

.holyday {
  text-align: center;
  margin-top: 100px;
}

.holyday h1 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  color: #000;
  font-weight: 400;
}

.holyday h2 {
  font-size: 72px;
  color: #000;
  font-weight: 600;
  margin: 25px 0;
}

.holyday span {
  font-size: 72px;
  color: #ff0000;
}

.holyday p {
  font-family: "Inter", sans-serif;
  font-size: 72px;
  color: #ff0000;
  font-size: 20px;
  color: #0702118e;
  width: 80%;
  margin: 0 auto;
}

.holyday-img {
  height: 700px;
  margin-top: 100px;
  background-image: url("./resources/group75.png"),
    url("./resources/rectangle2.png"), url("./resources/group44.png"),
    url("./resources/rectangle1.png");
  background-position: 10% 50%, bottom, 75% 30%, right 20%;
  background-repeat: no-repeat;
}

/* gift */

.gift {
  margin-top: 100px;
}

.gifts {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.gifts img {
  cursor: pointer;
  scale: 0.95;
  transition: 0.1s ease-out;
}

.gifts img:hover {
  scale: 1;
}

.gift h1 {
  color: #ff0000;
  font-size: 24px;
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.gift h2 {
  color: #000;
  font-size: 48px;
  margin-bottom: 15px;
  font-weight: 600;
}

.gift p {
  font-family: "Inter", sans-serif;
  color: #0702118e;
  margin-bottom: 30px;
  width: 50%;
  text-align: justify;
  font-size: 20px;
}

/* newsletter */

.news-letter {
  text-align: center;
  margin-top: 100px;
  background: #ff000018;
  border-radius: 10px;
  padding-top: 100px;
}

.news-letter h1 {
  font-size: 48px;
  margin: 20px 0;
}

.news-letter p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: #0702118e;
}

.news-letter input[type="email"] {
  border: 0;
  margin-top: 30px;
  width: 500px;
  height: 64px;
  border-radius: 50px 0px 0px 50px;
  padding-left: 25px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.news-letter input[type="button"] {
  border: 0;
  margin-top: 30px;
  padding: 0 50px;
  height: 64px;
  color: #fff;
  background-color: #ff0000;
  border-radius: 0px 50px 50px 0px;
  font-size: 20px;
  margin-bottom: 80px;
  cursor: pointer;
}

/* footer */
footer {
  margin-top: 100px;
  background-color: #070211;
  height: 672px;
  color: #fff;
  font-size: 24px;
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}

.information div p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.information div p img {
  padding-right: 10px;
  font-family: "Inter", sans-serif;
}

.information h4 {
  font-family: "Inter", sans-serif;
}

hr {
  margin: 50px 0;
  border: 1.5px solid #ffffff2b;
  border-radius: 1.5px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.information-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
